body {
	margin: 0px;
}

header #sections a {
	/* Remove default link style in header buttons*/
	color: inherit; 
	text-decoration: inherit;
}
main {
	margin-top: 10px;
	margin: 10px;
}

header {
	width: 100%;
	border-bottom: 1px solid black;
	background-color: #CCFFCC;
}

#conworkshop-text-label {
	text-align: center;
	padding: 6px;
}

header #language {
	background-color: #3CC47C;
}

header #tools {
	background-color: #E3A222;
}

header #community {
	background-color: #4ABDAC;
}

header #profile {
	background-color: #E37222;
}

header #meta {
	background-color: #DDDDDD;
}

header #logout {
	background-color: #FF0000;
}

header #login {
	background-color: #4e4c67;
	color: white;
}

header #register {
	background-color: #697777; /* Nice */
}
header #sections {
	width: 100%
	height: 2em;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

header #sections div {
	padding: 2px;
}

header #sections div .dropdown {
	display: none;
	top: 0px;
	position: absolute;
}

header #sections div .dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#language:hover #language .dropdown {display: block;}
#tools:hover #tools .dropdown {display: block;}
#community:hover #community .dropdown {display: block;}
#profile:hover #profile .dropdown {display: block;}
#meta:hover #meta .dropdown {display: block;}
#logout:hover #logout .dropdown {display: block;}