body {
	margin: 0px;
}

main {
	margin-top: 10px;
	margin: 10px;
}

.cws-style input[type=text] {
    background-color: #EEE;
    border: 1px solid black;
}

.cws-style input[type=text]:focus {
    background-color: #b0ff92
}

.cws-style input[type=submit] {
    background-color: #5fd36c;
    border: none;
    padding: 3px;
}

.cws-style input[type=submit]:hover {
    background-color: #48a052;
    border: none;
    padding: 3px;
}