/* header style='background-color: #0bb; padding: 5px 20px 10px; border-radius: 10px 10px 0px 0px;'
   h1 style='display: inline;'>ConWorkShop</h1><smal style='color: dimgray';
   p style='margin: 0px 0 0 0; padding: 5px; border-radius: 0 0 10px 10px; border:dimgrey 2px solid; border-top-width:1px;' (hi user!)

*/