{# Base template #}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'styles/header.css' %}" type="text/css" />
        {% block stylesheets %}{% endblock %}

        <script
              src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'script/singlepagelib.js' %}"></script>
        <script type="text/javascript" src="{% static 'script/main.js' %}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="page">
            
            <header>
                <x-frame src="/header"></x-frame>
            </header>

            <section id="page-sidebar">

            </section>

            <main id="page-body">
                {% block content %}{% endblock %}
            </main>

            <footer id="page-footer">

            </footer>
        </div>
    </body>
</html>
