{# Base template #}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" />
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="page">
            
            <header>
                <div id="conworkshop-text-label">Conworkshop</div>
                <div id="sections">
                    <div id="language">
                        <span class="header-menu-text">Language</span>
                        <div class="dropdown">
                            <a href="/langs/">List</a>
                            <a href="#">link2</a>
                            <a href="#">link3</a>
                        </div>
                    </div>
                    <div id="tools">
                        <span class="header-menu-text">Tools</span>
                        <div class="dropdown">
                            <a href="#">link1</a>
                            <a href="#">link2</a>
                            <a href="#">link3</a>
                        </div>
                    </div>
                    <div id="community">
                        <span class="header-menu-text">Community</span>
                        <div class="dropdown">
                            <a href="#">link1</a>
                            <a href="#">link2</a>
                            <a href="#">link3</a>
                        </div>
                    </div>
                    <div id="meta">
                        <span class="header-menu-text">Meta</span>
                        <div class="dropdown">
                            <a href="#">link1</a>
                            <a href="#">link2</a>
                            <a href="#">link3</a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div id="profile">Profile
                            <div class="dropdown">
                                <a href="#">link1</a>
                                <a href="#">link2</a>
                                <a href="#">link3</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="/account/register">
                            <div id="register">
                                Register
                            </div>
                        </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="/account/logout">
                            <div id="logout">
                                Logout
                            </div>
                        </a>
                    {% else %}
                        <a href="/account/login">
                            <div id="login">
                                Login
                            </div>
                        </a>
                    {% endif %}
                </div>
            </header>

            <section id="page-sidebar">

            </section>

            <main id="page-body">
                {% block content %}{% endblock %}
            </main>

            <footer id="page-footer">

            </footer>
        </div>
    </body>
</html>
